.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/bootstrap/ssr
/node_modules
# /public/build  -> se incluye en git para desplegar en Plesk (sin Node en el servidor)
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
